@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0a2a43;
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/*
<<CSS 그라디언트>>
https://www.w3schools.com/css/css3_gradients.asp
*/
/* https://www.w3schools.com/css/tryit.asp?filename=trycss3_gradient-linear 
  background-image: linear-gradient( to top, red, transparent);
*/

section::before{
    content: "";
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top,#0a2a43,transparent);
    z-index: 100;
}
section img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


section h2 {}

.text{
    color: #fff;
    font-size: 13em;
    position: relative;
}

#road{
    z-index: 20;
}

.content{
    display: block;
    width: 800px;
    margin: 100px auto;
    color: #fff;
}
.content h3{
    font-size: 40px;
    margin-bottom: 30px;
}
.content p{
    font-size: 20px;
    line-height: 30px;
}